#imageGrid .shadow:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  cursor: pointer;}

#imageGrid table.data {
  height:100%;
  width:100%;
  table-layout:fixed;
}

#imageGrid table.data td {
  text-align: center;
  vertical-align: middle;
  width: 33.33%;
  height: 270px;
}

#imageGrid td img {
  max-height: 350px;
  max-width: 350px;
}

#imageGrid {
  width: 100%;
}

#popup {
  position: relative;
  left: -11px;
}

#figImage img {
  max-width: 100%;
  height: auto;
}


#figImage_only img {
  height: auto;
  max-height:500px;
  max-width:100%;
}


.skin-black .content-wrapper{
 background-color: white;
}


section.sidebar .shiny-input-container{
  padding: 2px 10px 2px 10px;
  
}

.form-group{
  margin-bottom:0px;
}

label{
  font-weight:500;
}

hr{
  margin-top: 5px;
  margin-bottom: 5px;
  color:#CFBDBD;
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 0;
  color:#6FA1C4;
  font-size:16px;
}


.regular-content{
    height:25px;
    /*position: absolute; Position the background text*/
    /*bottom: 0;  At the bottom. Use top:0 to append it to the top */
    vertical-align:bottom;
    background-color: white;
    color: white;
    width: 100%; /* Full width */
}

.special-content-good{
    height:25px;
    /*position: absolute; Position the background text*/
    /*bottom: 0;  At the bottom. Use top:0 to append it to the top */
    text-align:center;
    background-color: rgb(196, 73, 52);
    background-color: rgba(196, 73, 52, 0.7); /*Black background with 0.7 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
}

.special-content-missed{
    height:25px;
    /*position: absolute; Position the background text*/
    /*bottom: 0;  At the bottom. Use top:0 to append it to the top */
    text-align:center;
    background-color: rgb(136, 156, 255);
    background-color: rgba(136, 156, 255, 0.7); /*Black background with 0.7 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
}


.small-box>.inner {
    padding: 2px;
    height: 75px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
  border: 5px solid #f4f4f4;
}

/* Vertical scroll bar */
.body { height: 90vh; overflow-y: auto; }

.btn-primary {
    background: #fff;
    border: 2px solid #686868;
	  color: #686868;
}

.btn-menu {
	 border-radius:6px;
	 font-size:13px;
	 height: 20px;
	 line-height:20px;
	 text-align: center;
	 padding:0;
	 margin:-5px;
	 color: black;
}

img:not([src]) {
			visibility: hidden;
}

.disclaimer-box{
  background-color: LightCoral; 
  border-style: solid; 
  border-color: tomato; 
  padding: 5px;
  border-radius:8px;
}


/*customizing the value box*/
.bg-light-blue, .label-primary, .modal-primary .modal-body{
  background-color:#5b5f63!important;
  border-style:solid;
  border-width:1px;
  border-radius:8px;
  padding:5px;
  border-color:white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border-style:solid;
  border-width:2px;
  background-color: #fdec96;
  color: #454545;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
 border-style:solid;
 border-width:2px;
 background-color: #dbd6d7;
 color: #000;
}

#grad {
  border-left-style:solid;
  border-left-color: rgb(221, 221, 221);
  border-left-width:2px;
  padding-left:5px;
  background: linear-gradient(to left, rgba(252,236,150,0), rgba(252,236,150,1));
}

